{% extends "employee_information/base.html" %}

{% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">CONTRATOS DE ALUGUEL</h4>
            
            <div class="text-start">
                <button class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm" ><a class="mdc-drawer-link" href="{% url 'contrato1' %}">
                    <i class="material-icons mdc-button__icon" style="color: aliceblue;">arrow_back</i><span style="color: aliceblue;">VOLTAR</span></a>
                </button>
                <button class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm" id="create_new"><i class="material-icons mdc-button__icon">add</i><span> NOVO</span></button>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <div class="mb-3">
                <input type="text" class="form-control form-control-sm" id="search_input" placeholder="Pesquisar">
            </div>
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">Cliente</th>
                        <th class="text-center py-1">Apartamento</th>
                        <th class="text-center py-1">Moradia</th>
                        <th class="text-center py-1">Data Início</th>
                        <th class="text-center py-1">Ação</th>
                    </tr>
                </thead>
                <tbody id="contrato_table_body">
                    {% for contrato in contratos %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ contrato.cliente.firstname }} {{ contrato.cliente.lastname }}</td>
                        <td class="px-2 py-1 text-center">{{ contrato.apartamento.name }}</td>
                        <td class="px-2 py-1 text-center">{{ contrato.moradia.name }}</td>
                        <td class="px-2 py-1 text-center">{{ contrato.data_inicio }}</td>
                        <td class="px-2 py-1 text-center">
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="button" data-id="{{ contrato.pk }}" title="Editar">
                                <i class="material-icons mdc-button__icon">edit</i>
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ contrato.pk }}" title="Excluir">
                                <i class="material-icons mdc-button__icon">deleteoutline</i>
                            </button>
                            <!--button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded download-data" type="button" data-id="{{ contrato.pk }}" title="baixar">
                                <i class="material-icons mdc-button__icon">cloud_download</i>
                            </button-->
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded" onclick="window.location.href='{% url 'generate_contract_pdf' contrato.pk %}'">
                                <i class="material-icons mdc-button__icon">print</i>

                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %}

{% block ScriptBlock %}
<script>
    $(function() {
        $('#create_new').click(function() {
            uni_modal("Adicionar Contrato", "{% url 'manage_contrato' %}")
        })
        $('.edit-data').click(function() {
            uni_modal("Editar contrato", "{% url 'manage_contrato' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Tem certeza de que deseja excluir?", "delete_contrato", [$(this).attr('data-id')])
        })

        $('#search_input').on('input', function() {
            var searchText = $(this).val().toLowerCase();
            $('#contrato_table_body tr').filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1)
            });
        });
        
    })

    function delete_contrato($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete_contrato' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("Ocorreu um erro.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("Ocorreu um erro.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}
