{% extends "employee_information/base.html" %} 
{% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Clientes</h4>
            <div class="text-start">
                <button class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm" id="create_new">
                    <i class="material-icons mdc-button__icon">add</i><span> Novo</span>
                </button>
                <a href="?csv=true" class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm">
                    <i class="material-icons mdc-button__icon">download</i><span> Baixar CSV</span>
                </a>
                <a href="?pdf=true" class="mdc-button mdc-button--raised mdc-ripple-upgraded btn-sm">
                    <i class="material-icons mdc-button__icon">download</i><span> Baixar PDF</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <div class="mb-3">
                <input type="text" class="form-control form-control-sm" id="search_input" placeholder="Pesquisar">
            </div>
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="10%">
                    <col width="16%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">Nome</th>
                        <th class="text-center py-1">BI/Passaporte</th>
                        <th class="text-center py-1">Data de nascimento</th>
                        <th class="text-center py-1">Gênero</th>
                        <th class="text-center py-1">Nacionalidade</th>
                        <th class="text-center py-1">Ação</th>
                    </tr>
                </thead>
                <tbody id="cliente_table_body">
                    {% for employee in employees %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ employee.id }}</td>
                        <td class="px-2 py-1 text-start">{{ employee.firstname }} {{ employee.middlename }} {{ employee.lastname }}</td>
                        <td class="px-2 py-1 text-start">{{ employee.code }}</td>
                        <td class="px-2 py-1 text-start">{{ employee.dob }}</td>
                        <td class="px-2 py-1 text-start">{{ employee.gender }}</td>
                        <td class="px-2 py-1 text-start">{{ employee.nacionlidade }}</td>
                        <td class="px-2 py-1 text-center">
                            <button class="mdc-button mdc-button--raised p-1 icon-button mdc-ripple-upgraded view-data" type="button" data-id="{{ employee.pk }}" title="Ver Detalhes">
                                <i class="material-icons mdc-button__icon">Ver</i>
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="button" data-id="{{ employee.pk }}" title="Editar">
                                <i class="material-icons mdc-button__icon">Editar</i>
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ employee.pk }}" title="Excluir">
                                <i class="material-icons mdc-button__icon">Excluir</i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock pageContent %}
{% block ScriptBlock %}
<script>
    $(function() {
        $('#create_new').click(function() {
            uni_modal("Adicionar novo cliente", "{% url 'manage_employees-page' %}", 'modal-lg')
        })
        $('.view-data').click(function() {
            uni_modal("Dados do ocupante", "{% url 'view-employee-page' %}?id=" + $(this).attr('data-id'), 'mid-large')
        })
        $('.edit-data').click(function() {
            uni_modal("Atualizar dados", "{% url 'manage_employees-page' %}?id=" + $(this).attr('data-id'), 'modal-lg')
        })
        $('.delete-data').click(function() {
            _conf("Tens certeza que queres excluir?", "delete_employee", [$(this).attr('data-id')])
        })
        $('#search_input').on('input', function() {
            var searchText = $(this).val().toLowerCase();
            $('#cliente_table_body tr').filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1)
            });
        });
    })

    function delete_employee($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-employee' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occured.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occured.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}
