<div class="container-fluid">
    <form action="" id="manutencao-form">
        <input type="hidden" name="id" value="{% if manutencao %}{{ manutencao.pk }}{% endif %}">
        <div class="form-group mb-3">
            <label for="tipo" class="control-label">Tipo de Manutenção<strong style="color: red;">*</strong></label>
            <select name="tipo" id="tipo" class="form-select form-select-sm rounded-0" required>
                <option value="" disabled {% if not manutencao %}selected{% endif %}>Selecionar </option>
                <option value="apartamento" {% if manutencao and manutencao.tipo == 'apartamento' %}selected{% endif %}>Apartamento</option>
                <option value="moradia" {% if manutencao and manutencao.tipo == 'moradia' %}selected{% endif %}>Moradia</option>
                <option value="loja" {% if manutencao and manutencao.tipo == 'loja' %}selected{% endif %}>Loja</option>
            </select>
        </div>
        <div class="form-group mb-3" id="select-container">
            <!-- The specific select will be appended here based on the type selected -->
        </div>
        <div class="form-group mb-3">
            <label for="valor_pago" class="control-label">Valor Pago<strong style="color: red;">*</strong></label>
            <input type="number" name="valor_pago" id="valor_pago" class="form-control form-control-sm rounded-0" value="{% if manutencao %}{{ manutencao.valor_pago }}{% endif %}" required>
        </div>
        <div class="form-group mb-3">
            <label for="data_manutencao" class="control-label">Data de Manutenção<strong style="color: red;">*</strong></label>
            <input type="date" name="data_manutencao" id="data_manutencao" class="form-control form-control-sm rounded-0" value="{% if manutencao %}{{ manutencao.data_manutencao }}{% endif %}" required>
        </div>
        <div class="form-group mb-3">
            <label for="descricao" class="control-label">Descrição<strong style="color: red;">*</strong></label>
            <textarea name="descricao" id="descricao" class="form-control form-control-sm rounded-0" required>{% if manutencao %}{{ manutencao.descricao }}{% endif %}</textarea>
        </div>
        
    </form>
</div>

<script>
    $(function() {
        function updateSelectContainer() {
            var tipo = $('#tipo').val();
            var container = $('#select-container');
            container.empty();

            if (tipo === 'apartamento') {
                var select = $('<select name="apartamento" class="form-select form-select-sm rounded-0" required>');
                select.append('<option value="" disabled selected>Selecionar Apartamento</option>');
                {% for apartamento in apartamentos %}
                    var option = $('<option value="{{ apartamento.id }}">Apart: {{ apartamento.name }} - Prédio: {{ apartamento.predio }}</option>');
                    {% if manutencao and manutencao.apartamento and manutencao.apartamento.id == apartamento.id %}
                    option.attr('selected', 'selected');
                    {% endif %}
                    select.append(option);
                {% endfor %}
                container.append(select);
            } else if (tipo === 'moradia') {
                var select = $('<select name="moradia" class="form-select form-select-sm rounded-0" required>');
                select.append('<option value="" disabled selected>Selecionar Moradia</option>');
                {% for moradia in moradias %}
                    var option = $('<option value="{{ moradia.id }}">Moradia: {{ moradia.name }} - Quadra: {{ moradia.department_id }}</option>');
                    {% if manutencao and manutencao.moradia and manutencao.moradia.id == moradia.id %}
                    option.attr('selected', 'selected');
                    {% endif %}
                    select.append(option);
                {% endfor %}
                container.append(select);
            } else if (tipo === 'loja') {
                var select = $('<select name="loja" class="form-select form-select-sm rounded-0" required>');
                select.append('<option value="" disabled selected>Selecionar Loja</option>');
                {% for loja in lojas %}
                    var option = $('<option value="{{ loja.id }}">Loja nº {{ loja.name }} - Predio: {{ loja.predio }}</option>');
                    {% if manutencao and manutencao.loja and manutencao.loja.id == loja.id %}
                    option.attr('selected', 'selected');
                    {% endif %}
                    select.append(option);
                {% endfor %}
                container.append(select);
            }
        }

        updateSelectContainer();
        $('#tipo').change(function() {
            updateSelectContainer();
        });

        $('#manutencao-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this);
            $('.err-msg').remove();
            var el = $('<div>');
            el.addClass("alert alert-danger err-msg");
            el.hide();
            if (_this[0].checkValidity() === false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save_manutencao' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err);
                    alert_toast("Ocorreu um erro.", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp === 'object' && resp.status === 'success') {
                        el.removeClass("alert alert-danger err-msg");
                        location.reload();
                    } else if (resp.status === 'failed' && !!resp.msg) {
                        el.text(resp.msg);
                    } else {
                        el.text("Ocorreu um erro.");
                        console.error(resp);
                    }
                    _this.prepend(el);
                    el.show('slow');
                    $("html, body, .modal").scrollTop(0);
                    end_loader();
                }
            });
        });
    });
</script>
